<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>DB 결과 출력 페이지</title>
</head>
<body>
<h2>🪧 상품 목록(@MVC : JPA 방법)</h2> <!-- 스프링 웹을 의미 -->
<table border="1" style="text-align: center;">
	<tr style="background-color: pink;">
		<th>번호</th><th>코드</th><th>품명</th><th>수량</th><th>단가</th>
	</tr>
	<tr th:each="data, numStatus:${datas}">
	<td th:text="${numStatus.index + 1}">인덱스</td>
		<td th:text="${data.code}">코드 출력</td>
		<td>[[${data.sang}]]</td>
		<td>[[${data.su}]]</td>
		<!-- #numbers.formatInteger(표시해야 할 값, 최소 자릿수, 구분자) -->
		<td>[[${#numbers.formatInteger(data.dan, 3, 'COMMA')}]]</td>
	</tr>
	
	<!-- 검색 -->	
	<tr>
		<td colspan="5">
		<form th:action="@{/search}" method="get">
		검색 상품명 : <input type="text" name="searchValue">
		<input type="submit" value="검색">
		</form>
		</td>
	</tr>
	<tr>
		<td colspan="5" th:text="|건수 : ${datas.size}|">건수</td>
	</tr>
	</th:block>
</table>
</body>
</html>