<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>파일 목록</h1>
<div>
	<a th:href="@{/insert}">파일 추가(DB에 집어넣기)</a><br><hr>
</div>

<table border="1">
	<tr>
		<td>번호</td><td>이름</td><td>전화</td><td>직업</td><td>사진</td>
	</tr>
	<tr th:each="friend:${friends}">
		<td th:text="${friend.number}">1</td>
		<td th:text="${friend.name}">거북이</td>
		<td th:text="${friend.tel}">010-2222-2222</td>
		<td th:text="${friend.job}">토끼 사냥꾼</td>
		<td>
			<img th:src="'data : ' + ${friend.imagetype} + ';base64,' + ${friend.base64Image}" style="width: 150px;height: auto;">
		</td>
	</tr>
</table>

</body>
</html>